@use "./variables" as *;


@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
};

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
};

// text mixins



// flex mixins
@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin flex-center-content{
    display: flex;
    justify-content: center;
    align-content: center;
}

@mixin flex-center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-items-content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin flex-start-justify{
    display: flex;
    justify-content: flex-start;
}

@mixin space-between{
    display: flex;
    justify-content: space-between;
}