

.homepage{
  background: url("/images/background-homepage.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.25rem;
  position: relative;


  &__logo{

  }
  &__logo-text{

  }
}
